<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Genre Classification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <nav class="navigation">
        <h1>
            Music Genre Classification
        </h1>
    </nav>
    
    <h4>
        Enter the audio file below
    </h4>
    <div class="container">
        <form action="/" method="POST">
            <!-- <input type="file" name="music_file" id="music_file" accept=".mp3,audio/*"> -->
            <input class="form-control" type="file" id="music_file" accept=".mp3,audio/*" name="music_file">
                <br><br>
            <input class="btn btn-primary" type="submit" value="Submit">
             <br><br>    
        </form>
    </div>
    <br><br>
    <div class="finale">
        <p>
            <h3>{{final_answer}}</h3>
        </p>
    </div>
    <footer>
        Made with ❤️ by Shubham and Divyanshi
    </footer>
</body>
</html>